<form class="form" role="form">
    <div class="panel panel-primary">
        <div class="panel-heading">

            <h3 class="  text-center panel-title">Ausentismo </h3>


        </div>
        <div class="container">
            <div class="row">

                <h2> DATOS AFILIACIÓN </h2><br>
                <div class="col-md-3 col-xs-12">
                    <br>
                    <label> Ingrese la Cedula del Paciente: </label><br><br>
                    <input name="Paciente" ng-model="cedula" class="form-control"/><br>
                    <input class="btn btn-default" type="submit" ng-click="searchUser()"
                           value="Buscar Paciente"/><br>
                    <br>
                </div>

                <div class="col-md-3 col-xs-12">
                    <br>
                    <label> Datos Paciente </label><br>
                    <label> Primer Nombre: {{pacienteEncontrado.primer_nombre}} </label><br>
                    <label> Segundo Nombre: {{pacienteEncontrado.segundo_nombre}} </label><br>
                    <label> Primer Apellido: {{pacienteEncontrado.primer_apellido}} </label><br>
                    <label> Segundo Apellido: {{pacienteEncontrado.segundo_apellido}} </label><br>
                    <label> Edad: {{pacienteEncontrado.edad}} </label><br>


                </div>


            </div>

            <div class="row">
                <div class="table">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>Regimen</th>
                            <th>tipo certificado</th>
                            <th>Dias</th>
                            <th>Fecha Registro</th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="consulta in lista  ">
                            <td>
                                {{consulta.regimen}}
                            </td>
                            <td>

                                {{consulta.tipo_certificado}}
                            </td>
                            <td>

                                {{consulta.dias}}
                            </td>

                            <td>
                                {{consulta.fechaRegistro | date:"MMM d, y"}}
                            </td>

                            <td>

                                <button type="button " ng-click="eliminar(consulta)" class="btn-danger">
                                    eliminar
                                </button>
                            </td>

                            <td>

                                <button type="button " ng-click="verFicha(consulta)" class="btn-primary">
                                    Ver Ficha
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div><!--div fin contaniner-->
    </div><!--div fin contaniner-->
    </div><!--div fin contaniner-->
</form>