<form class="form" role="form">
    <div class="panel panel-primary">
        <div class="panel-heading">

            <h3 class="  text-center panel-title">Ausentismo </h3>


        </div>
        <div class="container">
            <div class="row">

                <h2> DATOS AFILIACIÓN </h2><br>
                <div class="col-md-3 col-xs-12">
                    <br>
                    <label> Ingrese la Cedula del Paciente: </label><br><br>
                    <input name="Paciente" ng-model="cedula" class="form-control"/><br>
                    <input class="btn btn-default" type="submit" ng-click="searchUser()"
                           value="Buscar Paciente"/><br>
                    <br>
                </div>

                <div class="col-md-3 col-xs-12">
                    <br>
                    <label> Datos Paciente </label><br>
                    <label> Primer Nombre: {{pacienteEncontrado.primer_nombre}} </label><br>
                    <label> Segundo Nombre: {{pacienteEncontrado.segundo_nombre}} </label><br>
                    <label> Primer Apellido: {{pacienteEncontrado.primer_apellido}} </label><br>
                    <label> Segundo Apellido: {{pacienteEncontrado.segundo_apellido}} </label><br>
                    <label> Edad: {{pacienteEncontrado.edad}} </label><br>


                </div>


            </div>

            <div class="row">


                <div class="col-md-3 col-xs-12">

                    <br> <label>Dias Ausencia:</label><br>
                    <input class="datepicker" type="text" id="datepicker1" name="date" value="mm/dd/aaa"/><br>
                    <label>laboral/NoLaboral:</label>
                    <select class="form-control" name="singleSelect" ng-model="ausentismo.laboral_nolaboral">
                        <option value="L">Laboral </option>
                        <option value="NL">No Laboral </option>

                    </select><br>

                </div>

                <div class="col-md-3 col-xs-12">
                    <br>
                    <label>Horas:</label>
                    <input type="number" placeholder="1" class="form-control" min="0" ng-model="ausentismo.horas">


                </div>
                <div class="col-md-3 col-xs-12">
                    <br>
                    <label>Minutos:</label>
                    <input type="number" placeholder="1" class="form-control" max="59" min="0" ng-model="ausentismo.minutos">

                </div>


                <div class="col-md-3 col-xs-12">
                    <br>
                    <label>Regimen:</label>
                    <select class="form-control" name="singleSelec1"  ng-model="ausentismo.regimen">
                        <option value="LOSEP">LOSEP </option>
                        <option value="COD.TRABAJO">COD.TRABAJO </option>
                        <option value="LOES">LOES </option>

                    </select><br>

                </div>

            </div><!--div fin contaniner-->
            <div class="row">

                <div class="col-md-12 col-xs-12" >
                    <br>


                    <label> Tipo Cie 10: </label>
                    <input type="text" ng-model="search1" class="form-control" placeholder="Buscar"><br>
                    <select name="cie10tipo"  class="form-control" multiple   ng-model="cie10Selected" ng-click="busquedaCie10Tipo()">
                        <option id="valor1" value={{empresaAux1}}
                                ng-repeat="empresaAux1 in tipoCie10 | filter: search1" >
                            {{empresaAux1.descripcion_tipo_CIE10}}
                        </option>
                    </select>
                </div>
                <div class="col-md-12 col-xs-12"  >
                    <label>  Cie 10: </label>
                    <input type="text" ng-model="search2" class="form-control" placeholder="Buscar"><br>
                    <select name="cie10"  class="form-control"  multiple  ng-model="cie10Select" >
                        <option id="valor2" value={{empresaAux2}}
                                ng-repeat="empresaAux2 in cie10 | filter: search2">
                            {{empresaAux2.sintoma}}
                        </option>
                    </select>

                </div>



                <div class="col-md-11 col-xs-11" >
                    <br>
                    <input class="form-control" placeholder="Busqueda Por Código CIE 10" ng-model="seleccionada">
                </div>
                <div class="col-md-1 col-xs-1" >
                    <br>
                    <input  type="submit" class="form-control " value="Buscar" ng-click="busquedaPorCodigoPropio()">
                </div>



                <div class="col-md-2 col-xs-12" >
                    <br>
                    <p data-ng-bind="encontrada.codigo_cie10">  </p>
                </div>
                <div class="col-md-10 col-xs-12" >
                    <br>
                    <p data-ng-bind="encontrada.sintoma">  </p>
                </div>


                <div class="col-md-3 col-xs-12" >
                    <br>
                    <br>
                    <input  type="submit" class="btn btn-submit" value="Agregar" ng-click="agregar()">
                </div>
                <div class="col-md-3 col-xs-12">
                    <br>
                    <br>


                    <input class="btn btn-warning" type="submit" ng-click="quitar()"
                           value="Quitar"/><br><br>

                </div>

                <div class="col-md-12 col-xs-12" >
                    <br>


                    <label> Cie 10 Seleccionado: </label>

                    <select name="cie10tipo"  class="form-control"   ng-model="cie10Quitar"  multiple>
                        <option id="valor" value={{empresaAux1}}
                                ng-repeat="empresaAux1 in listaSelectedCie10" >
                            {{empresaAux1.sintoma}}
                        </option>
                    </select>
                </div>


                <div class="col-md-4 col-xs-12" >
                    <br>


                    <label> Especialista: </label>
                    <select name="cie10tipo"  class="form-control"    single ng-model="ausentismo.medico">
                        <option id="valor3" value={{empresaAux1}}
                                ng-repeat="empresaAux1 in medicos" >
                            {{empresaAux1.nombre_medico}}
                        </option>s
                    </select>

                </div>
                <div class="col-md-4 col-xs-12" >
                    <br>
                    <label>Institucion:</label>
                    <select class="form-control" name="singleSelect"  ng-model="ausentismo.tipo_certificado">
                        <option value="UNACH">UNACH </option>
                        <option value="IESS">IESS </option>
                        <option value="OTROS">OTROS </option>

                    </select><br>

                </div>
                <div class="col-md-4 col-xs-12" >
                    <br>


                    <label> Observaciones: </label>
                <textarea class="form-control"  ng-model="ausentismo.observaciones">
                </textarea>
                    <br>
                </div>
                <div class="col-md-3 col-xs-12" >
                    <input type="submit" class="form-control btn-primary" value="Guardar"
                           ng-click="ingresarAusentismo()">
                    <br>
                    <br>
                </div>
            </div><!--div fin contaniner-->
        </div><!--div fin contaniner-->
    </div><!--div fin contaniner-->
</form>
<br><br>
<br><br><br>