<form class="form" role="form">
    <div class="panel panel-primary">
        <div class="panel-heading">

            <h3 class="  text-center panel-title">Ausentismo </h3>


        </div>
        <div class="container">
            <div class="row">

                <h2> DATOS AFILIACIÓN </h2><br>


                <div class="col-md-3 col-xs-12">
                    <br>
                    <label> Datos Paciente </label><br>
                    <label> Primer Nombre: {{pacienteEncontrado.primer_nombre}} </label><br>
                    <label> Segundo Nombre: {{pacienteEncontrado.segundo_nombre}} </label><br>
                    <label> Primer Apellido: {{pacienteEncontrado.primer_apellido}} </label><br>
                    <label> Segundo Apellido: {{pacienteEncontrado.segundo_apellido}} </label><br>
                    <label> Edad: {{pacienteEncontrado.edad}} </label><br>


                </div>


            </div>

            <div class="row">


                <div class="col-md-3 col-xs-12">

                    <br>
                    <label>Desde:</label>
                    <input type="number" placeholder="1" max="31" class="form-control" min="1" max="31"
                           ng-model="ausentismo.desde"><br>
                    <label>Horas:</label>
                    <input type="number" placeholder="1" class="form-control" min="0" ng-model="ausentismo.horas">

                </div>

                <div class="col-md-3 col-xs-12">
                    <br>
                    <label>Hasta:</label>
                    <input type="number" placeholder="1" max="31" class="form-control" min="0" max="31"
                           ng-model="ausentismo.hasta"><br>
                    <label>Minutos:</label>

                    <input type="number" placeholder="1" class="form-control" max="59" min="0"
                           ng-model="ausentismo.minutos">

                </div>
                <div class="col-md-3 col-xs-12">
                    <br>
                    <label>Mes:</label>
                    <select class="form-control" name="singleSelect" ng-model="ausentismo.mes">
                        <option value="Enero">Enero</option>
                        <option value="Febrero">Febreo</option>
                        <option value="Marzo">Marzo</option>
                        <option value="Abril">Abril</option>
                        <option value="Mayo">Mayo</option>
                        <option value="Junio">Junio</option>
                        <option value="Julio">Julio</option>
                        <option value="Agosto">Agosto</option>
                        <option value="Septiembre">Septiembre</option>
                        <option value="Octubre">Octubre</option>
                        <option value="Noviembre">Noviembre</option>
                        <option value="Diciembre">Diciembre</option>
                    </select><br>
                    <label>Dias:</label>
                    <input type="number" placeholder="1" class="form-control" min="0" ng-model="ausentismo.dias">

                </div>


                <div class="col-md-3 col-xs-12">
                    <br>
                    <label>Regimen:</label>
                    <select class="form-control" name="singleSelec1" ng-model="ausentismo.regimen">
                        <option value="LOSEP">LOSEP</option>
                        <option value="COD.TRABAJO">COD.TRABAJO</option>
                        <option value="LOES">LOES</option>

                    </select><br>
                    <label>laboral/NoLaboral:</label>
                    <select class="form-control" name="singleSelect" ng-model="ausentismo.laboral_nolaboral">
                        <option value="L">Laboral</option>
                        <option value="NL">No Laboral</option>

                    </select><br>
                </div>

            </div><!--div fin contaniner-->
            <div class="row">


                <div class="col-md-12 col-xs-12">
                    <br>


                    <label> Cie 10 Seleccionado: </label>

                    <select name="cie10tipo" class="form-control" ng-model="cie10Quitar" multiple>
                        <option id="valor" value={{empresaAux1}}
                                ng-repeat="empresaAux1 in listaCie">
                            {{empresaAux1.sintoma}}
                        </option>
                    </select>
                </div>


                <div class="col-md-4 col-xs-12">
                    <br>


                    <label> Especialista: </label>

                    <select class="form-control " style="width: 100%;" ng-model="ausentismo.medico"
                            ng-options="item._id as item.nombre_medico for item in medicos"></select>


                </div>
                <div class="col-md-4 col-xs-12">
                    <br>
                    <label>Institucion:</label>
                    <select class="form-control" name="singleSelect" ng-model="ausentismo.tipo_certificado">
                        <option value="UNACH">UNACH</option>
                        <option value="IESS">IESS</option>
                        <option value="OTROS">OTROS</option>

                    </select><br>

                </div>
                <div class="col-md-4 col-xs-12">
                    <br>


                    <label> Observaciones: </label>
                <textarea class="form-control" ng-model="ausentismo.observaciones">

                </textarea>

                </div>
                <div class="col-md-3 col-xs-12">
                    <input type="submit" class="form-control btn-danger" value="Eliminar" ng-click="cambiarEstado()">
                    <br>
                    <br>
                </div>
            </div><!--div fin contaniner-->
        </div><!--div fin contaniner-->
    </div><!--div fin contaniner-->
</form>