<form class="form" role="form">

    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="panel panel-primary">
                <div class=" panel-heading">

                    <h3 class=" text-center panel-title ">Historia Clínica </h3>


                </div>
                <div class="container">

                    <div class="row">

                        <div class="col-md-3 col-xs-12">
                            <br>
                            <label> Ingrese la Cedula del Paciente: </label><br><br>
                            <input name="Paciente" ng-model="cedula" class="form-control"/><br>
                            <input class="btn btn-default" type="submit" ng-click="searchUser()"
                                   value="Buscar Paciente"/><br>
                            <br>
                        </div>

                        <div class="col-md-3 col-xs-12">
                            <br>
                            <label> Datos Paciente </label><br>
                            <label> Primer Nombre: {{pacienteEncontrado.primer_nombre}} </label><br>
                            <label> Segundo Nombre: {{pacienteEncontrado.segundo_nombre}} </label><br>
                            <label> Primer Apellido: {{pacienteEncontrado.primer_apellido}} </label><br>
                            <label> Segundo Apellido: {{pacienteEncontrado.segundo_apellido}} </label><br>
                            <label> Edad: {{pacienteEncontrado.edad}} </label><br>


                        </div>
                        <div class="col-md-3 col-xs-12">
                            <br>
                            <label > Lista Posibles Modificaciones: </label><br>

                            <select class="form-control" name="singleSelect" ng-model="urlSeleccionada">
                                <option value="1">Accidentes Trabajo </option>
                                <option value="2">Ginecologo Obstetra </option>
                                <option value="3">Inmunización </option>
                                <option value="4">Hábitos Tóxicos </option>
                                <option value="5">Examen Laboratorio </option>


                            </select><br>
                            <input type="submit" class="form-control" value="Redireccionar" ng-click="redireccion()">
                        </div>



                    </div>


                </div>
            </div>
        </div>
        <!--div fin contaniner-->
    </div>
    </div>
</form>