<form class="form" role="form">
    <div class="panel panel-primary">
        <div class="panel-heading">

            <h3  style="text-align: center" class="panel-title">Administración Cie10 </h3>

        </div>
        <div class="container">

            <div class="row">

                <div class="col-md-12 col-xs-12" >
                    <br>
                    <label for="TipoCie"> Tipo CIE 10: </label><br>
                    Búsqueda <input type="text" ng-model="search1" class="form-control" placeholder="Busqueda"><br>
                    <select name="TipoCie" ng-model="cie10Selected" class="form-control" multiple
                            style="height: 150px;" ng-click="busquedaCie10Tipo()">
                        <option value={{aux}}
                                ng-repeat="aux in tipoCie10 | filter:search1| orderBy:aux.descripcion_tipo_CIE10">
                            {{aux.descripcion_tipo_CIE10}}
                        </option>
                    </select><br>

                </div>

            </div>
            <div class="row">
                <div class="col-md-12 col-xs-12" >

                    <br>
                    <label>Código CIE 10:</label>
                    <input type="text" class="form-control" placeholder="Código CIE 10" ng-model="newCie10.codigo_cie10"/>
                    <br>
                    <label>Descripcion CIE 10:</label>
                    <input type="text" class="form-control" placeholder="Nueva Descrpcion CIE 10" ng-model="newCie10.sintoma"/>
                    <br>
                    <div class="form-group col-lg-1">
                        <input class="btn btn-info" type="submit" ng-click="guardarCie10()"
                               value="Guardar CIE 10" style=" width:150px"/><br><br>
                        <input class="btn btn-warning" type="submit" ng-click="updateStatusCIE10Sintoma()"
                               value="Modificar Estado" style=" width:150px" /><br><br>
                    </div>

                </div>


            </div>
            <div class="row">
                <div class="col-md-12 col-xs-12" >
                    <br>
                    <label for="Cie10">CIE 10: </label><br>
                    Búsqueda <input type="text" ng-model="search2" class="form-control" placeholder="Busqueda"><br>
                    <table class="table table-hover" >
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Descripcion</th>
                            <th>Estado</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr ng-repeat="item in cie10  | filter:search2| orderBy:item.sintoma"
                            ng-class="{'selected':$index == selectedRow}" ng-click="setClickedRow($index,item)">
                            <td>{{$index}}</td>
                            <td>{{ item.sintoma }}</td>
                            <td>{{ item.estado }}</td>
                        </tr>
                        </tbody>

                        <pagination total-items="totalItems" ng-model="currentPage"
                                    max-size="5" boundary-links="true"
                                    items-per-page="numPerPage" class="pagination-sm">
                        </pagination>

                    </table>
                </div>

            </div>
            <br>


        </div>
    </div>

</form>
